# dev environment files
.DS_Store
.vagrant
.idea
project
target

# generated node-list files
node_analytics.txt
node_lab.txt
node_slaves.txt

# binaries
containerresolver
charmander-heapster

# ignore experiments
/experiments/maxusage/
/experiments/sparkkernel/
/experiments/nessy/


